.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mealItem{
  width: 200px;
  /*height: 300px;*/
 /* border: 2px solid black;*/
 margin : 50px;
  list-style: none;
  box-shadow: 5px 5px 6px #DDD;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mealPicture{
  height: 150px;
  width: 200px;
}

.meals{
 width: 95%;
  padding: 10px;
  box-shadow: 5px 5px 6px #DDD;
  /*border: #5f5d5d 2px 2px;*/
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto
  
}
.btnMealAdmin{
  display: flex;
  flex-direction: column; 
  margin-bottom: 20px;
}
.nameMeal{
  word-spacing: 2px;
  font: bold 15px Arial, sans-serif;
  margin-top:10px;
}
.description{
  font: italic  12px/30px Georgia, serif;
}
.price{
  font-family: Arial, Helvetica, sans-serif;
}
.mealOrderItem{
 /* width: 200px;*/
  height: 200px;
 /* border: 2px solid black;*/
 margin : 50px;
  list-style: none;
  box-shadow: 5px 5px 6px #DDD;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
